%section.section
  .container
    %h2.title= title t('.title')
    .box
      = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
        = f.input :email
        = f.button :submit, t('.submit'), class: 'is-link'
    = render "devise/shared/links"
