%section.section
  .container
    %h2.title= title t('.title')
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .box
        = f.input :email, autofocus: true
        = f.input :password
        = f.input :password_confirmation
      .box.mt-5
        = f.input :subscribe_to_mailing_list, as: :boolean, input_html: {checked: true}
      .box.mt-5
        %p=raw t('.privacy_notice')
      .mt-5
        = f.button :submit, t('.submit'), class: 'is-link'
    .mt-5
      = render "devise/shared/links"
