- content_for(:main_class) { 'is-justify-content-center' }
%section.section
  .container
    .columns
      .column.is-three-fifths.is-offset-one-fifth
        %h1.title= title t('.title')
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          .box
            = f.input :email, autofocus: true, label: t('.email'), hint: t('.email_hint')
            = f.input :password, label: t('.password')
            = f.input :password_confirmation
          .box.mt-5
            = f.input :subscribe_to_mailing_list, as: :boolean, input_html: {checked: true}
          .box.mt-5
            %p= t('.privacy_notice_html', url: page_path('privacy'))
          .mt-5
            = f.input :terms, as: :boolean, label: t('.terms_label_html', url: page_path('terms'))
            = f.button :submit, t('.submit'), class: 'is-link'
        .mt-5
          = render "devise/shared/links"
