= page_section(title: 'How to write a phonetic spelling', page_title: true) do
  %p Spelling and pronunciation are not closely linked in English. Without someone teaching you, how would you know the word "<b>cough</b>" is pronounced "<b>COFF</b>" but the word "<b>through</b>" is pronounced "<b>THROO</b>"?
  %p This is especially true of names! Someone without help is never going to be able to work out that the surname "<b>Featherstonhaugh</b>" is pronounced "<b>FAN-shaw</b>".
  %p A phonetic spelling is a way of spelling your name using common sequences of letters in English, which makes it easier for English speakers to understand how to say it without hearing it. Of course, name.pn also allows you to record your name in your own voice, but it's great to have both on your page in case someone is not able to listen to the recording at the time they view your page.
= page_section(title: 'The elements of a phonetic spelling') do
  %p There are three things to consider when writing a phonetic spelling of your name:
  %ol
    %li Syllables
    %li Spelling
    %li Stress
  %p In this guide, we'll explore these three elements one by one.
= page_section(title: 'Syllables') do
  %p Syllables are the rhythmic sounds of your name. Every word has at least one syllable, but it may have many more.
  %p A syllable usually has a vowel sound (or a pair of vowel sounds) in the middle and maybe consonants either side.
  %p One way to imagine your name is in a song. The syllables would form the "notes" of the song. (If you can't think of a tune, try putting the name in the "Happy Birthday" song!) For example, try singing these names:
  %dl
    %dt Christopher
    %dd 3 syllables: <b>chris-to-pher</b>
    %dt Anna
    %dd 2 syllables: <b>a-nna</b>
    %dt Paige
    %dd 1 syllable: <b>paige</b> (in the "Happy Birthday" song you might sing the vowel twice - "pai-aige" - to make two notes but that's not how you say it when speaking.)
  %p In a phonetic spelling we show multiple syllables by separating them with the hyphen (-).
= page_section(title: 'Spelling') do
  %p A phonetic spelling of a syllable reduces it to more "obvious" spellings for speakers of English.
  %p For example, if your name is <b>John</b>, you might write "<b>jon</b>" so it's clear the <i>h</i> is silent.
  %p Other examples (note, many of these have more than one possible pronunciation - you might pronounce your name differently to these):
  %ul
    %li <b>Phoebe</b> &rarr; <b>fee-bee</b>
    %li <b>Rhys</b> &rarr; <b>rees</b>
    %li <b>Niamh</b> &rarr; <b>neev</b>
    %li <b>Geoffrey</b> &rarr; <b>jef-ree</b>
    %li <b>Hugh</b> &rarr; <b>hyoo</b>
  %h3#schwa The schwa (ə)
  %p A very common vowel sound in names is called the #{link_to 'schwa', 'https://en.wikipedia.org/wiki/Schwa'}. It's a kind of neutral vowel that doesn't have a standard spelling.
  %p In fact, in many cases it's written without any letters at all. Consider the word <b>rhythm</b> - there are two syllables here but only one of them has a vowel in the spelling - the <i>y</i>. The vowel in the second syllable appears between <i>th</i> and <i>m</i> but it has no spelling. This is a schwa - and is sometimes written using its #{link_to 'IPA', 'https://en.wikipedia.org/wiki/International_Phonetic_Alphabet'} symbol, like this: <b>rih-thəm</b>.
  %p I'd recommend when writing a phonetic spelling of your name, you spell the syllable without a vowel, or use "uh" as an approximate spelling of the schwa. If you want to be really explicit, name.pn also lets you add the IPA spelling of your name alongside the phonetic spelling.
  %p Some examples of schwas in names:
  %ul
    %li <b>Michael</b> &rarr; <b>my-kl</b> (or <b>my-kuhl</b>)
    %li <b>Stephen</b> &rarr; <b>stee-vn</b> (or <b>stee-vuhn</b>)
    %li <b>Theresa</b> &rarr; <b>tuh-ree-suh</b>
  %h3#rhoticity The letter <em>r</em>
  %p Be careful when including the letter <em>r</em> in your phonetic spelling, especially if you speak a "non-rhotic" variety of English, such as that spoken in most parts of England.
  %p Speakers of these varieties of English tend not to pronounce the letter <i>r</i> unless it appears at the start of a syllable, but this is not true of rhotic varieties such as those spoken in Scotland and most of the USA.
  %p For example, the name "<b>Tyler</b>" to speakers of non-rhotic English sounds more like "<b>ty-luh</b>", whereas rhotic speakers will sound out the letter <i>r</i> at the end of the name.
  %p If you are from England or another area with a non-rhotic variety of English, you might be tempted to write the letter <i>r</i> in your phonetic spellings even though you don't pronounce it. For example, the name "Palmer" you might write "<i>par-mer</i>" because when you read this spelling, you don't pronounce the <i>r</i>. But be aware that speakers of rhotic varieties will think to pronounce every <i>r</i>. Instead, it might be better to write something like "<b>pah-muh</b>" so it is clear you do not pronounce the letter <i>r</i>.
  %p As a result of this distinction, some common names are pronounced quite differently between rhotic and non-rhotic areas. The name "<b>Eleanor</b>" is typically pronounced "<b>el-uh-nuh</b>" in non-rhotic areas (such as English) and "<b>el-uh-nor</b>" (pronouncing both the <i>o</i> and the <i>r</i>) in rhotic areas (such as the USA).
= page_section(title: 'Stress') do
  %p The last part to understand is <i>stress</i>. In English, words of more than one syllable always have a <b>primary stress</b> - this is one syllable of the word that is pronounced with a little more force than the other syllables. (Long words sometimes have a secondary stress too.) This is part of how people listening can tell where one word stops and the next starts.
  %p Try sounding out this famous sentence:
  %blockquote
    It is a truth universally acknowledged, that a single man in possession of a good fortune, must be in want of a wife.
  %p There are five words in this sentence with more than one syllable. In each case, one of the syllables is said with a little more force than the others:
  %blockquote
    It is a truth un-i-<b>VER</b>-sa-lly ack-<b>NOW</b>-ledged, that a <b>SIN</b>-gle man in poss-<b>ES</b>-sion of a good FOR-tune, must be in want of a wife.
  %p The same is true of names. As some examples:
  %ul
    %li Jonathan &rarr; <b>JON</b>-a-than
    %li Samantha &rarr; sam-<b>AN</b>-tha
    %li Alexander &rarr; al-ex-<b>AN</b>-der
    %li Marie &rarr; ma-<b>RIE</b> (although in French is it often pronounced <b>MA</b>-rie, like the word "marry")
  %p If your name has more than one syllable, try saying it out loud a few times and listen for that stressed syllable. Try stressing other syllables to see how it sounds - and how it sounds "wrong" to your ears - this might help you identify the stressed syllable.
  %p In phonetic spellings, we write the stressed syllable using CAPITAL LETTERS. If the word has only one syllable, it's conventional to write it in CAPITAL LETTERS too but it's not really important.
= page_section(title: 'Putting it all together') do
  %p Now you know all the parts, all that's left is to combine them to get a great phonetic spelling of your own name. Here are some examples to get you on your way:
  %ul
    %li (My name) Quinn Daley &rarr; <b>KWIN DAY-lee</b>
    %li Barack Obama &rarr; <b>buh-RAHK oh-BAH-muh</b>
    %li Marsha P Johnson &rarr; <b>MAR-shuh PEE JON-sun</b>
    %li Rabindranath Tagore &rarr; <b>ruh-BIN-druh-naht ta-GOR</b>
    %li Ada Lovelace &rarr; <b>AY-duh LUV-layce</b>
    %li Eleanor Roosevelt &rarr; <b>EL-in-or ROSE-uh-velt</b> 
= page_section(title: 'Learning more') do
  %p #{link_to 'The Wikipedia article on what they call "pronunciation respelling"', 'https://en.wikipedia.org/wiki/Pronunciation_respelling_for_English'} will guide you to more information about this way of writing English pronunciations.
  %p #{link_to 'Learn more about the IPA', 'https://en.wikipedia.org/wiki/International_Phonetic_Alphabet'} for the other way of spelling the pronunciation of your name.
  %p If you find phonetics fun and want to learn more with an engaging online guidebook and community, check out #{link_to 'Funetics', 'https://www.funetics.com/'}, from professional accent coach and phonetics enthusiast Luke Nicholson.