- if user.envelope_name? || user.formal_name?
  .formal-name.card.card--profile
    .card-header
      %p.card-header-title= t('.my_formal_name')
    .card-content
      %dl.card__list
        - if user.envelope_name?
          %dt= User.human_attribute_name(:envelope_name)
          %dd= user.envelope_name
        - if user.formal_name?
          %dt= User.human_attribute_name(:formal_name)
          %dd= t('.dear', name: user.formal_name)
