- if @user.likeness.attached?
  .card.profile-card.mt-6#likeness{data: {public_profile_target: 'card'}}
    .card-header.profile-card__header
      .card-header-title= t('.what_i_look_like')
      = section_link 'likeness'
    .card-content
      .likeness.likeness--centered
        = link_to url_for(@user.likeness), data: {controller: 'lightbox'}, title: t('.expand') do
          = image_tag @user.likeness.variant(resize_to_limit: [300, 300]), alt: t('.alt_text', name: @user.full_name)
    = see_all
