.card.profile-card.mt-6#name-details{data: {public_profile_target: 'card'}}
  .card-header.profile-card__header
    .card-header-title= t('.how_to_use_my_name')
    = section_link 'name-details'
  .card-content
    - %i[full_name personal_name envelope_name formal_name email_name].each do |att|
      - val = user.public_send(att)
      - if val.present?
        %h2.profile-card__heading= t(".headings.#{att}", name: user.full_name, value: val)
        .profile-card__name= val
        .profile-card__hint= t(".hints.#{att}", name: user.full_name, value: val)
    - user.alternate_names.grouped_by_category.each do |category, ans|
      %h2.profile-card__heading=t (".headings.variants.#{category}_html")
      .profile-card__name
        %ul
          - ans.each do |an|
            %li= an.name
      .profile-card__hint= t(".hints.variants.#{category}")
  = see_all