- if user.phonetic.present? || user.ipa.present? || user.pronunciation.attached?
  .card.profile-card.mt-6#pronunciation{data: {public_profile_target: 'card'}}
    .card-header.profile-card__header
      .card-header-title= t('.how_to_pronounce_my_name')
    .card-content
      %h2.profile-card__heading= t(".headings.phonetic", name: user.pronunciation_of_name, value: user.phonetic)
      .profile-card__name
        - if user.phonetic.present?
          %span= user.phonetic
        - if user.ipa.present?
          %span.is-ipa.has-text-grey-light.is-size-5 /#{user.ipa}/
        - if user.pronunciation.attached?
          = render 'player', data: {player_url_value: url_for(user.pronunciation)}
      .profile-card__hint= t(".hints.phonetic", name: user.pronunciation_of_name, value: user.phonetic)
