- content_for(:main_class) { 'is-justify-content-center' }
%section.section
  .container
    .columns
      .column.is-three-fifths.is-offset-one-fifth
        %h1.title= title t('.title')
        .box
          = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
            = f.hidden_field :reset_password_token
            = f.input :password, label: t('.new_password')
            = f.input :password_confirmation, label: t('.confirm_new_password')
            = f.button :submit, t('.submit'), class: 'is-link'
        = render "devise/shared/links"
