.cell.card.has-background-likeness-light#likeness
  .card-header
    .card-header-title= t('.title')
    .card-header-icon
      = link_to profile_path(:likeness), class: 'icon', title: t('actions.edit') do
        %i.mdi.mdi-pencil
  .card-content
    %p.mb-4.has-text-grey= t('profile.likeness.blurb')
    .content
      - if current_user.likeness.attached?
        .likeness
          = link_to url_for(current_user.likeness), data: {controller: 'lightbox'} do
            = image_tag current_user.likeness.variant(resize_to_limit: [300, 300])
      - else
        = not_set
