.tile.is-child.card.is-links
  .card-header
    .card-header-title= t('.title')
    .card-header-icon
      = link_to profile_path(:links), class: 'icon', title: t('actions.edit') do
        %i.mdi.mdi-pencil
  .card-content
    %p.mb-4.has-text-grey= t('profile.links.blurb')
    .content
      - if current_user.links.present?
        %ul
          - current_user.links.each do |link|
            %li= link_to link.title, link.url, rel: 'noopener'
      - else
        %p= not_set
