.tile.is-child.card.has-background-personal-name-light
  .card-header
    .card-header-title= t('.title')
    .card-header-icon
      = link_to profile_path(:personal_name), class: 'icon', title: t('actions.edit') do
        %i.mdi.mdi-pencil
  .card-content
    %p.mb-4.has-text-grey= t('profile.personal_name.blurb')
    .content
      %dl
        %dt= User.human_attribute_name(:personal_name)
        %dd
          - if current_user.personal_name?
            = current_user.personal_name
          - else
            = you_must
        %dt= User.human_attribute_name(:full_name)
        %dd
          - if current_user.full_name?
            = current_user.full_name
          - else
            = you_must
