.tile.is-child.card.has-background-pronunciation-light
  .card-header
    .card-header-title= t('.title')
    .card-header-icon
      = link_to profile_path(:pronunciation), class: 'icon', title: t('actions.edit') do
        %i.mdi.mdi-pencil
  .card-content
    %p.mb-4.has-text-grey= t('profile.pronunciation.blurb')
    .content
      %dl
        %dt= t('.name_is_pronounced', name: current_user.pronunciation_of_name)
        %dd= current_user.phonetic? ? current_user.phonetic : not_set
        %dt= t('.ipa', name: current_user.pronunciation_of_name)
        %dd.is-ipa= current_user.ipa? ? "/#{current_user.ipa}/" : not_set
        %dt= t('.audio_clip', name: current_user.pronunciation_of_name)
        %dd
          - if current_user.pronunciation.attached?
            = render 'users/player', data: {player_url_value: url_for(current_user.pronunciation)}
          - else
            = not_set
