.tile.is-child.card.is-pronunciation
  .card-header
    .card-header-title= t('.title')
    .card-header-icon
      = link_to profile_path(:pronunciation), class: 'icon', title: t('actions.edit') do
        %i.mdi.mdi-pencil
  .card-content
    %p.mb-4.has-text-grey= t('profile.pronunciation.blurb')
    .content
      %dl
        %dt= t('.name_is_pronounced', name: current_user.full_name)
        %dd= current_user.phonetic? ? current_user.phonetic : not_set
