.tile.is-child.card.is-url{data: {controller: 'url', url_copied_class: 'copy-button--copied'}}
  .card-header
    .card-header-title= t('.title')
    .card-header-icon
      = link_to profile_path(:slug), class: 'icon', title: t('actions.edit') do
        %i.mdi.mdi-pencil
  .card-content
    %p.is-size-4.has-text-centered.is-force-wrapped
      - if current_user.slug.present?
        %b{data: {url_target: 'url'}}= user_url(current_user, only_path: false)
      - else
        = you_must
    - if current_user.pronoun_sets.any?
      .mt-4.is-size-6.has-text-grey.has-text-centered
        %p
          %i= t('.or_with_pronouns')
        - current_user.pronoun_sets.each do |ps|
          %p.is-force-wrapped= user_url(current_user, only_path: false, nominative: ps.nominative, oblique: ps.oblique)
  .card-footer
    = link_to profile_path(:slug),  class: 'button card-footer-item has-text-link' do
      %span.icon
        %i.mdi.mdi-pencil
      %span= t('actions.edit')
    - if current_user.profile_complete?
      = link_to user_url(current_user), class: 'button card-footer-item', target: '_blank' do
        %span.icon
          %i.mdi.mdi-open-in-new
        %span= t('.view_your_page')
      %button.button.card-footer-item.copy-button#copyButton{data: {url_target: 'copyButton', action: 'url#copy'}}
        %span.icon.copy-button__initial
          %i.mdi.mdi-clipboard-outline
        %span.copy-button__initial= t('.copy_to_clipboard')
        %span.icon.copy-button__after
          %i.mdi.mdi-clipboard-check-outline
        %span.copy-button__after= t('.copied')
    - else
      %button.button.card-footer-item{disabled: true, title: t('.you_must_complete')}
        %span.icon
          %i.mdi.mdi-open-in-new
        %span= t('.view_your_page')
      %button.button.card-footer-item{disabled: true, title: t('.you_must_complete')}
        %span.icon
          %i.mdi.mdi-clipboard-outline
        %span= t('.copy_to_clipboard')
