%section.hero
  .hero-body.bg-red-100
    .container.has-text-centered
      %h1.home-title
        .home-title__image= image_tag 'logo.svg', alt: t('icon_alt')
        .home-title__name= t('.title.namedot')
        .home-title__pn= t('.title.pn')
        .home-title__examples.has-text-primary.is-size-5
          = t('.title.pronouns')
          %br
          = t('.title.pronounce')
      %h2.subtitle.is-3.has-text-primary= t('.subtitle')
%section.section
  .container
    .columns.is-multiline.is-centered
      .column
        .box.is-fullheight
          %article.media
            .media-left
              %span.icon.is-large= icon 'sticker-check-outline', class: 'mdi mdi-48px'
            .media-content
              %h3.title.is-5= t('.get_your_name_right')
              %p.mt-5= t('.name_right_blurb')
      .column
        .box.is-fullheight
          %article.media
            .media-left
              %span.icon.is-large= icon 'bullhorn', class: 'mdi mdi-48px'
            .media-content
              %h3.title.is-5= t('.pronunciation')
              %p.mt-5= t('.pronunciation_blurb')
      .column
        .box.is-fullheight
          %article.media
            .media-left
              %span.icon.is-large= icon 'gender-male-female', class: 'mdi mdi-48px'
            .media-content
              %h3.title.is-5= t('.pronouns')
              %p.mt-5= t('.pronouns_blurb')
%section.section
  .container.has-text-centered
    %p= link_to t('.sign_up_free'), new_user_registration_path, class: 'button is-link is-large'
    %p.has-text-grey.is-6.mt-5= t('.warning')
    %p.is-6.mt-5= link_to t('.learn_more'), page_path('about')
