%section.hero.is-light
  .hero-body
    .container.has-text-centered
      %h1.home__title
        .home__title__image= image_tag 'logo.svg', alt: t('icon_alt')
        .home__title__name= t('.title.namedot')
        .home__title__pn= t('.title.pn')
        .home__title__examples.has-text-primary.is-size-5
          = t('.title.pronouns')
          %br
          = t('.title.pronounce')
      %h2.subtitle.is-3.has-text-primary= t('.subtitle')
%section.section
  .container
    .columns.is-multiline.is-centered.home__columns
      .column
        .box
          %article.media
            .media-left
              %span.icon.is-large
                %i.mdi.mdi-48px.mdi-sticker-check-outline
            .media-content
              %h3.title.is-5= t('.get_your_name_right')
              %p.mt-5= t('.name_right_blurb')
      .column
        .box
          %article.media
            .media-left
              %span.icon.is-large
                %i.mdi.mdi-48px.mdi-bullhorn
            .media-content
              %h3.title.is-5= t('.pronunciation')
              %p.mt-5= t('.pronunciation_blurb')
      .column
        .box
          %article.media
            .media-left
              %span.icon.is-large
                %i.mdi.mdi-48px.mdi-gender-male-female
            .media-content
              %h3.title.is-5= t('.pronouns')
              %p.mt-5= t('.pronouns_blurb')
%section.section
  .container.has-text-centered
    %p= link_to t('.sign_up_free'), new_user_registration_path, class: 'button is-link is-large'
    %p.has-text-grey.is-6.mt-5= t('.warning')
    %p.is-6.mt-5= link_to t('.learn_more'), page_path('about')
