%section.section
  .container
    %h1.title= title t('.title')
    .content.is-size-5.has-text-grey
      %p= t('.page_description1')
      %p= t('.page_description2')
%section.section
  .container
    .fixed-grid.has-2-cols
      .grid
        .cell.is-col-span-2= render 'url_card'
        .cell.is-fullheight
          .fixed-grid.has-1-cols.is-fullheight
            .grid.is-fullheight
              = render 'name_card'
              = render 'pronouns_card'
              = render 'pronunciation_card'
        .cell.is-fullheight
          .fixed-grid.has-1-cols.is-fullheight
            .grid.is-fullheight
              = render 'name_variants_card'
              = render 'likeness_card'
              = render 'links_card'
