%section.section
  .container
    %h1.title= title t('.title')
    .content.is-size-5.has-text-grey
      %p= t('.page_description1')
      %p= t('.page_description2')
%section.section
  .container
    .tile.is-ancestor
      .tile.is-vertical
        .tile.is-12.is-parent
          = render 'url_card'
        .tile
          .tile.is-6.is-vertical.is-parent
            = render 'name_card'
            = render 'name_variants_card'
            = render 'likeness_card'
          .tile.is-6.is-vertical.is-parent
            = render 'pronunciation_card'
            = render 'pronouns_card'
            = render 'links_card'
