.likeness_uploader{data: {controller: 'likeness-uploader'}}
  .likeness_uploader__buttons
    %button.button.is-success.is-medium{type: 'button', data: {action: 'likeness-uploader#start'}}
      %span.icon= icon 'file-upload-outline'
      %span= t('.upload_button')
    = f.button :button, value: 'delete_likeness', class: 'button is-danger is-medium', disabled: !f.object.likeness.attached?, data: {likeness_uploader_target: 'delete'} do
      %span.icon= icon 'delete'
      %span= t('.delete_button')
  .likeness{data: {likeness_uploader_target: 'preview'}}
    - if f.object.likeness.attached?
      = image_tag f.object.likeness.variant(resize_to_limit: [300, 300])
  
