= simple_form_for @user, url: wizard_path, method: :patch do |f|
  = render 'header', f: f
  %section.section.is-collapsed
    .container
      .columns.is-centered
        .column.is-half
          .box.profile-form.is-likeness
            %h1.title= title t('.title')
            %p.mb-3.has-text-grey= t('.blurb')
            %p.mb-5.has-text-grey= t('profile.show.optional_section')
            = render 'likeness_uploader', f: f
            = render 'buttons', f: f
