= simple_form_for @user, url: wizard_path, method: :patch do |f|
  = render 'header', f: f
  %section.section.is-collapsed
    .container
      .columns.is-centered
        .column.is-half
          .box.profile-form.is-personal-name
            %h1.title= title t('.title')
            %p.mb-3.has-text-grey= t('.blurb')
            %p.mb-5.has-text-grey= t('profile.show.you_must_complete')
            = f.input :full_name
            = f.input :personal_name
            = render 'buttons', f: f
