= simple_form_for @user, url: wizard_path, method: :patch do |f|
  = render 'header', f: f
  %section.section.is-collapsed
    .container
      .columns.is-centered
        .column.is-half
          .box.profile-form.is-pronunciation
            %h1.title= title t('.title')
            %p.mb-3.has-text-grey= t('.blurb')
            %p.mb-5.has-text-grey= t('profile.show.optional_section')
            = f.input :phonetic, label: t('simple_form.labels.user.phonetic', name: @user.full_name)
            .recorder{data: {controller: 'recorder'}}
              %button{type: 'button', data: {action: 'mousedown->recorder#start mouseup->recorder#stop'}} Record
              %audio{data: {target: 'recorder.player'}}
            = render 'buttons', f: f
            
