= simple_form_for @user, url: wizard_path, method: :patch do |f|
  = render 'header', f: f
  %section.section.is-collapsed
    .container
      .columns.is-centered
        .column.is-half
          .box.profile-form.is-pronouns{data: {controller: 'pronoun-form'}}
            %h1.title= title t('.title')
            - t('.blurb').each do |para|
              %p.mb-3.has-text-grey= para
            %p.mb-5.has-text-grey= t('profile.show.you_must_complete')
            = f.association :pronoun_sets, as: :pronouns, label: false, item_wrapper_tag: 'div', wrapper_class: 'profile-pronouns', input_html: {data: {pronoun_form_target: 'option'}}
            %p.my-3.has-text-grey= t('.get_in_touch')
            = f.input :pronounless_style, as: :select, collection: User.pronounless_styles.keys.map {|ps| [t(ps, scope: 'pronounless_styles'), ps]}, include_blank: t('pronounless_styles.na'), wrapper_class: 'mt-5', input_html: {data: {action: 'pronoun-form#changePronounless'}}
            = f.input :pronoun_style, as: :select, collection: User.pronoun_styles.keys.map {|ps| [t(ps, scope: 'pronoun_styles'), ps]}, include_blank: false, wrapper_class: 'mt-5'
            = f.input :pronoun_example, as: :select, collection: User.pronoun_examples.keys.map {|pe| [t(pe, scope: 'pronoun_example_headings'), pe]}, include_blank: false, wrapper_class: 'mt-5'
            = render 'buttons', f: f
