= simple_form_for @user, url: wizard_path, method: :patch do |f|
  = render 'header', f: f
  %section.section.is-collapsed
    .container
      .columns.is-centered
        .column.is-half
          .box.profile-form.has-background-url-light#url
            %h1.title= title t('.title')
            %p.mb-3.has-text-grey= t('.blurb')
            %p.mb-5.has-text-grey= t('profile.show.you_must_complete')
            = f.input :slug, as: :slug
            = f.input :noindex
            %h2.title.is-5.mb-3= t('.the_rest_is_optional')
            %p.mb-3.has-text-grey= t('.optional_blurb')
            = f.button :button, value: 'finish', class: 'is-success mb-3' do
              %span.icon= icon 'content-save'
              %span= t('.save_and_exit')
            %p.has-text-grey= t('.or_continue')
            = render 'buttons', f: f
