= simple_form_for @user, url: wizard_path, method: :patch do |f|
  = render 'header', f: f
  %section.section.is-collapsed
    .container
      .columns.is-centered
        .column.is-half
          .box.profile-form.has-background-variants-light#variants
            %h1.title= title t('.title')
            %p.mb-3.has-text-grey= t('.blurb')
            %p.mb-5.has-text-grey= t('profile.show.optional_section')
            = f.input :envelope_name
            = f.input :formal_name
            = f.input :email_name
            #alternate_names
              %h2.title.is-5.mb-3= t('.alternate_names')
              %p.mb-3.has-text-grey= t('.alternate_names_blurb')
              = f.simple_fields_for :alternate_names do |alternate_name|
                = render 'alternate_name_fields', f: alternate_name
              .alternate_names
                = link_to_add_association f, :alternate_names, class: 'button is-success' do
                  %span.icon
                    %i.mdi.mdi-plus-box
                  %span= t('.add_alternate_name')
            = render 'buttons', f: f
