= display_meta_tags default_meta_tags
= csrf_meta_tags
= csp_meta_tag
= favicon_link_tag
= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png'
= tag 'link', rel: 'manifest', href: manifest_path(format: :json)
= javascript_include_tag 'application', defer: true
%link{rel: 'preconnect', href: 'https://fonts.googleapis.com', crossorigin: true}
= stylesheet_link_tag 'application', media: 'all'
= stylesheet_link_tag 'tailwind', media: 'all'
= render 'layouts/ga'
