- theme ||= '#218380'
= display_meta_tags site: t('product_name'), reverse: true, viewport: 'width=device-width, initial-scale=1.0', 'theme-color' => theme
= csrf_meta_tags
= csp_meta_tag
= favicon_link_tag
= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png'
= tag 'link', rel: 'manifest', href: manifest_path(format: :json)
= javascript_include_tag 'application', defer: true
%link{rel: 'preconnect', href: 'https://fonts.googleapis.com', crossorigin: true}
= stylesheet_link_tag 'application', media: 'all'
= render 'layouts/ga'
