- theme ||= '#218380'
= display_meta_tags site: t('product_name'), reverse: true, viewport: 'width=device-width, initial-scale=1.0', 'theme-color' => theme
= csrf_meta_tags
= csp_meta_tag
= favicon_link_tag
= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png'
= tag 'link', rel: 'manifest', href: manifest_path(format: :json)
= javascript_pack_tag 'application', async: true
= stylesheet_pack_tag 'application', media: 'all'
- font_url = 'https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Raleway:wght@400;700&display=swap'
%link{rel: 'preconnect', href: 'https://fonts.gstatic.com', crossorigin: true}
= preload_link_tag font_url, rel: 'preload', as: 'style'
= stylesheet_link_tag font_url
= render 'layouts/ga'
