!!!
%html{lang: 'en'}
  %head= render 'layouts/head'
  %body.has-background-white-ter
    %header
      = render 'layouts/navbar'
      = render 'layouts/messages'
    %main{class: content_for(:main_class)}= yield
    %footer.footer
      = render 'layouts/footer'
    = content_for :render_async
    = content_for :modal
