!!!
%html{lang: 'en'}
  %head= render 'layouts/head'
  %body.has-background-white-ter
    %header
      = render 'layouts/navbar'
      = render 'layouts/messages'
    %main= yield
    = content_for :render_async
